<%= form_with(model: pokemon, local: true) do |form| %>
  <% if pokemon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pokemon.errors.count, "error") %> prohibited this pokemon from being saved:</h2>

      <ul>
        <% pokemon.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<!--- HEADER -->
<div class="header">
  <div class="title">
    <div class="titleimg">
      <%= image_tag "poke.png", class:"titlelogo"%>
    </div>
  </div>
</div>

<!--- STAGE -->
<div class="stage">
  <div class="board">
    <div class="showpoke">
        <div class="field">
          <%= form.label :pokename %>
          <%= form.text_field :pokename %>
        </div>

        <div class="field">
          <%= form.label :poketype %>
          <%= form.text_field :poketype %>
        </div>

        <div class="field">
          <%= form.label :pokeregion %>
          <%= form.text_field :pokeregion %>
        </div>

        <div class="field">
          <%= form.label :pokesize %>
          <%= form.text_field :pokesize %>
        </div>

        <div class="actions">
          <%= form.submit %>
        </div>

        <%= link_to 'Show', @pokemon %> |
        <%= link_to 'Back', pokemons_path %>

    </div>  
  </div>
</div>

<% end %>

