<!--- HEADER -->
<div class="header">
  <div class="title">
    <div class="titleimg">
      <%= image_tag "poke.png", class:"titlelogo"%>
    </div>
  </div>
</div>
<!--- STAGE -->
<div class="stage">
  <div class="board">
    <div class="showpoke">
      <p id="notice"><%= notice %></p>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Region</th>
            <th>Size</th>
            <th colspan="3"></th>
          </tr>
        </thead>
      
        <tbody>
          <% @pokemons.each do |pokemon| %>
            <tr>
              <td class="pokelist"><%= pokemon.pokename %></td>
              <td class="pokelist"><%= pokemon.poketype %></td>
              <td class="pokelist"><%= pokemon.pokeregion %></td>
              <td class="pokelist"><%= pokemon.pokesize %></td>
              <td><%= link_to 'Show', pokemon, class:"pokelistlink" %></td>
              <td><%= link_to 'Edit', edit_pokemon_path(pokemon), class:"pokelistlink" %></td>
              <td><%= link_to 'Destroy', pokemon, method: :delete, data: { confirm: 'Are you sure?' }, class:"pokelistlink" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="newpoke">
      <%= link_to 'New Pokemon', new_pokemon_path, class:"pokelistlink" %>
    </div>    

  </div>
</div>




