<!--- HEADER -->
<div class="header">
  <div class="title">
    <div class="titleimg">
      <%= image_tag "poke.png", class:"titlelogo"%>
    </div>
  </div>
</div>
<!--- STAGE -->
<div class="stage">
  <div class="board">
    <div class="showpoke">
      <p id="notice"><%= notice %></p>
      <p>
        <strong>Pokename:</strong>
        <%= @pokemon.pokename %>
      </p>

      <p>
        <strong>Poketype:</strong>
        <%= @pokemon.poketype %>
      </p>

      <p>
        <strong>Pokeregion:</strong>
        <%= @pokemon.pokeregion %>
      </p>

      <p>
        <strong>Pokesize:</strong>
        <%= @pokemon.pokesize %>
      </p>

      <%= link_to 'Edit', edit_pokemon_path(@pokemon) %> |
      <%= link_to 'Back', pokemons_path %>
    </div>  
  </div>
</div>
