// Place all the styles related to the Pokemons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

html{
    height: 100%;
}
body{
    height: 100%;
	background: linear-gradient(90deg, #2a75bb 50%, #ffcb05 50%);
}
h1{
    text-align: center;
}
.header{
    height: 150px;
    width: 100%;
    background-color: rgba(250, 250, 250, 1);
    float: left;
    text-align: center;
    margin: 0px;
}
.title{
    margin: auto;
    margin-bottom: 15px;
    padding-top: 0px;
    width: 40%;
    height: 140px;
}
.titleimg{
    width: 50%;
    margin: auto;
}
.titlelogo{
    width: 100%;
    margin: auto;
}
.stage{
    width: 100%;
    height: 80%;
    float: left;
}
.board{
    width: 600px;
    height: 630px;
    margin: calc(50% - 300px);
    margin-top: 2%;
    flex-wrap: wrap;
    // background-color: rgba(0, 0, 0, 0.863);
    // opacity: 1;
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-image: url("pokedex.jpg");
    background-size: 600px;
    padding-top: 200px;
    overflow-x: scroll;
}
.showpoke{
    width: 50%;
    margin: auto;
    margin-top: 10px;
    float: left;
    color: white;
    font-style: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}
.pokelist{
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
.pokelistlink {
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    color:white;
}
a:visited{
    color: rgb(170, 149, 149);
}
.newpoke{
    margin: auto;
    margin-left: 20px;
    float: left;    
    width: 20%;
}